
.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section1 {
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .about-us-container {
        padding: 40px;
    }
}