{% extends 'base.html' %}

{% block content %}
<section class="container">
<h1 class="title__create">Create Patient</h1>
<div class="cont__create">
    {{error}}
    <form method="post" class="form__create">
        {% csrf_token %}
        <div class="input__create">
            <label for="id_firstname">First Name:</label>
            <input type="text" name="first_name" id="id_firstname" class="input__cre" required>
        </div>
        <div class="input__create">
            <label for="id_lastname">Last Name:</label>
            <input type="text" name="last_name" id="id_lastname" class="input__cre" required>
        </div>
        <div class="input__create">
            <label for="id_phone">Phone:</label>
            <input type="text" name="phone" id="id_phone" class="input__cre" required>
        </div>
        <div class="input__create">
            <label for="id_email">Email:</label>
            <input type="text" name="email" id="id_email" class="input__cre" required>
        </div>
        <button class="btn__create">Save</button>
    </form>

</div>



</section>
{% endblock %}