{% extends 'base.html' %}

{% block content %}

<section class="container">
    <h1>Edit patient</h1>
    <div class="cont__edit">
        <form method="post" class="form__edit">
            {% csrf_token %}
            <div class="cont__input_edit">
                <label for="id_first_name">First name:</label>
                <input type="text" name="first_name" value="{{patient.first_name}}" placeholder="Enter your name" maxlength="250" required="" id="id_first_name" class="input__edit">
            </div>
            <div class="cont__input_edit">
                <label for="id_last_name">Last name:</label>
                <input type="text" name="last_name" value="{{patient.last_name}}" placeholder="Enter your name" maxlength="250" required="" id="id_last_name" class="input__edit">
            </div>
            <div class="cont__input_edit">
                <label for="id_phone">Phone:</label>
                <input type="text" name="phone" value="{{patient.phone}}" placeholder="Enter your name" maxlength="250" required="" id="id_phone" class="input__edit">
            </div>
            <div class="cont__input_edit">
                <label for="id_email">Email:</label>
                <input type="text" name="email" value="{{patient.email}}" placeholder="Enter your name" maxlength="250" required="" id="id_email" class="input__edit">
            </div>
            <button class="btn__edit">Edit</button>
        </form>
    </div>

</section>



{% endblock %}