{% extends 'base.html' %}

{% block content %}

<section class="container">
    <h1 class="title__form">Sign in</h1>
    
    <div class="form__cont">

            <form method="post" class="form__signin">
                <p class="error__signin">{{error}}</p>   
            
                <div class="input__cont">
                    {% csrf_token %}
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" placeholder="Enter your username" class="input_signin" id="id_username" required>
                </div>
                <div class="input__cont">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" placeholder="Enter your password" class="input_signin" id="id_password" required>
                </div>
                <button class="btn__signin">Sign in</button>
            </form>    
    </div>
</section>




{% endblock %}